@import url('https://fonts.googleapis.com/css?family=Roboto%20Mono:700|Roboto:400');

:root{
   --text: #3c3c3e;
   --background: #f7f5f2;
   --primary: #5859a8;
   --secondary: #cd9fc9;
   --accent: #c085a9;
}

.darkmode {
   --text: #c1c1c3;
   --background: #0d0b08;
   --primary: #5859a7;
   --secondary: #62325e;
   --accent: #793e63;
}

*{
   margin: 0;
   padding: 0;
}

body {
   font-family: 'Roboto';
   font-weight: 400;
   color: var(--text);
   background-color: var(--background);
}

h1, h2, h3, h4, h5 {
   font-family: 'Roboto Mono';
   font-weight: 700;
}

html {
   font-size: 100%;
   scroll-behavior: smooth;
} /* 16px */

h1 {font-size: 4.210rem; /* 67.36px */}

h2 {font-size: 3.158rem; /* 50.56px */}

h3 {font-size: 2.369rem; /* 37.92px */}

h4 {font-size: 1.777rem; /* 28.48px */}

h5 {font-size: 1.333rem; /* 21.28px */}

small {font-size: 0.750rem; /* 12px */}

.hello-world {
   text-align: center;
   margin: 20px;
}

section {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
}

.menu-button {
   display: none;
}

.sidebar {
   position: fixed;
   top: 0;
   right: 0;
   height: 100vh;
   width: 250px;
   z-index: 999;
   background-color: rgba(255, 255, 255, 0.502);
   backdrop-filter: blur(10px);
   display: none;
   flex-direction: column;
   align-items: flex-start;
   justify-content: flex-start;
}

.sidebar a {
   text-decoration: none;
   color: var(--text);
   display: flex;
   justify-content: flex-start;
   padding: 30px;
   width: 100%;

}

.sidebar a:hover {
   background-color: #f0f0f0;
}

.nav-bar {
   display: flex;
   justify-content: right;
   padding: 10px;
}

.nav-bar a {
   text-decoration: none;
   color: var(--text);
   background-color: var(--background);
   border-style: solid;
   border-color: var(--text);
   padding: 10px;
   letter-spacing: 2px;
   box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
   margin: 5px;
   touch-action: manipulation;
   width: fit-content;
   height: fit-content;
}

.nav-bar a:hover {
   box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px;
   top: 5px;
   left: 5px;
}

.nav-bar a:active {
   box-shadow: 0px 0px 0px 0px;
   top: 5px;
   left: 5px;
}

@media (max-width: 800px) {
   .hideOnMobile {
      display: none;
   }

   .menu-button {
      display: flex;
   }
}

@media (max-width: 400px) {
   .sidebar {
      width: 100%;
   }
}  

.hidden {
   opacity: 0;
   filter: blur(5px);
   transform: translateX(-100%);
   transition: all 1s;
}

@media(prefers-reduced-motion) {
   .hidden {
      transition: none;
   }
}
.show {
   opacity: 1;
   filter: blur(0);
   transform: translateX(0);
}

#theme-switch {
   height: 75px;
   width: 75px;
   border-radius: 50%;
   background-color: var(--background);
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
   bottom: 20px;
   left: 50%;
   transform: translateX(-50%);
}

#theme-switch svg {
   fill: var(--primary)
}

#theme-switch svg:last-child {
   display: none;
}

.darkmode #theme-switch svg:first-child {
   display: none;
}

.darkmode #theme-switch svg:last-child {
   display: block;
}

#github {
   height: 33px;
   width: 35px;
   padding: 3px;
   display: flex;
   justify-content: center;
   align-items: center;
}

#github svg {
   fill: var(--primary)
}

#github svg:last-child {
   display: none;
}

.darkmode #github svg:first-child {
   display: none;
}

.darkmode #github svg:last-child {
   display: block;
}

